{% extends "meta.html" %}

{% load staticfiles %}

{% block body %}
    {% with 'skin-red login-page' as body_classes %}{{ block.super }}{% endwith %}
{% endblock body %}

{% block body_content %}

    <div class="login-box">

        <div class="login-logo">
            <a href="{% url 'index' %}">
                <img id="hh-navbar-logo" src="{% static 'img/logo-png-white.png' %}" height="40">
                <b>Hostel</b>Hunt
            </a>
        </div>

        <div class="login-box-body">
            <!-- Messages -->
            {% block messages %}
                {% include "partials/messages.html" %}
            {% endblock %}

            {% block account_content %}{% endblock %}
        </div>

    </div>
{% endblock %}
