{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block account_content %}


    {% if user.is_authenticated %}
        <div class="alert alert-warning">{% include "account/snippets/already_logged_in.html" %}</div>
    {% endif %}
    <div class="alert alert-success">
    <i class="fa fa-check-circle"></i>
    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </div>
    <small>
        <a href="{% url 'account_reset_password' %}">Забыли пароль?</a><br>
        <a href="{% url 'account_login' %}">Войти</a>
    </small>
{% endblock %}
