{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}

{% block account_content %}


    <p class="login-box-msg">
        Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем письмо для его сброса.
    </p>

    {% if user.is_authenticated %}
        <div class="alert alert-warning">{% include "account/snippets/already_logged_in.html" %}</div>
    {% endif %}

    {% if form.errors %}
        <div class="alert alert-danger">Нет пользователя с таким e-mail</div>
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset login">

        {% csrf_token %}
        <div class="form-group has-feedback">
            {{ form.email|add_class:"form-control"|attr:"placeholder:E-mail" }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>

        <div class="row">
            <div class="col-xs-8">

            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">
                    Выслать
                </button>
            </div>
        </div>

    </form>

{% endblock %}
