{% load staticfiles %}
{% load humanize %}

<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'index' %}" class="logo">
      <span class="logo-mini">
          <img src="{% static '/static/img/favicon_24_black.ico' %}" height="24" width="24">
      </span>
      <span class="logo-lg">
          <img id="fh-navbar-logo" src="{% static '/static/img/favicon_24_black.ico' %}" height="24" width="24">
          <b>Family</b>Helper
      </span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">

        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">

                    <!-- User Account -->
                    <li class="dropdown user user-menu">
                        <a href="{% url 'account_logout' %}">
                            <span class="hidden-xs">{{ user }}</span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>