{% load staticfiles %}
{% load humanize %}
{% load avatar %}
{% load has_group %}

<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'index' %}" class="logo">
      <span class="logo-mini">
          <img src="{{ '/static/img/logo-hostelhunt-white.svg' }}" height="36">
      </span>
      <span class="logo-lg">
          <img id="hh-navbar-logo" src="{{ '/static/img/logo-hostelhunt-white.svg' }}" height="36">
          <b>Hostel</b>Hunt
      </span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">

        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">

                    {% if user.is_partner %}
                        <!-- Income -->
                        <li title="Входящие заявки" data-toggle="tooltip" data-placement="bottom" class="dropdown messages-menu margin-right-lg {{ request.incoming_orders|yesno:',opacity-half' }}">
                            <a href="{% url 'booking:orders_in_active_list' %}">
                                <i class="fa fa-phone"></i>
                                <span class="label label-{{ request.incoming_orders|yesno:'warning blink,default' }}">{{ request.incoming_orders }}</span>
                            </a>
                        </li>

                        <!-- Wallet balance -->
                        <li title="Балланс кошелька" data-toggle="tooltip" data-placement="bottom" class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-ruble"></i>
                                {% with balance=user.profile.wallet_balance %}
                                    <span class="label label-{% if balance > 0 %}success{% elif balance == 0 %}default{% else %}warning{% endif %}">{{ balance|intcomma }} р.</span>
                                {% endwith %}
                            </a>
                            <ul class="dropdown-menu">
                                {% with last_payments=user.get_last_payments %}
                                    {% if last_payments|length %}
                                        <li>
                                            <ul class="menu">
                                                {% for payment in last_payments %}
                                                    <li>
                                                        <a href="{% url 'payments:payments_list' %}?date_month={{ payment.created_at|date:'n' }}&date_year={{ payment.created_at|date:'Y' }}&payment_type=&is_send=1#payment{{ payment.id }}">
                                                            <strong class="text-{% if payment.total > 0 %}success{% else %}danger{% endif %}">{{ payment.total }}
                                                                р.</strong>
                                                            &nbsp;
                                                            <small class="text-muted">
                                                                #{{ payment.number }} от
                                                                {{ payment.created_at }}
                                                            </small>
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                {% endwith %}
                                <li class="footer"><a href="{% url 'payments:add_funds' %}">
                                    <i class="fa fa-plus margin-right-sm"></i>Пополнить балланс
                                </a></li>
                            </ul>
                        </li>

                    {% endif %}

                    <!-- User Account -->
                    <li class="dropdown user user-menu">
                        <a href="{% url 'users:profile' %}" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% cached_avatar_url user 25 %}" class="user-image" alt="User avatar">
                            <span class="hidden-xs">{{ user }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{% cached_avatar_url user 160 %}" class="img-circle" alt="User avatar">
                                <p>
                                    {{ user }}
                                    {% if not user.is_partner %}
                                        <small>Начните зарабатывать сейчас! <a href="{% url 'users:partner_add' %}">Станьте
                                            партнером</a></small>
                                    {% else %}
                                        <small>Зарегистрировался {{ user.date_joined|naturalday }}</small>
                                    {% endif %}
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{% url 'users:profile' %}" class="btn btn-default btn-flat">
                                        <i class="fa fa-user margin-right-sm"></i>Профиль
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'account_logout' %}" class="btn btn-default btn-flat">
                                        <i class="fa fa-sign-out margin-right-sm"></i>Выйти
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav">
                <li class="user user-menu">
                        <a href="{% url 'account_login' %}">
                            <i class="fa fa-sign-in"></i> <strong>Войти</strong>
                        </a>
                </li>
                <li class="user user-menu">
                        <a href="{% url 'account_signup' %}">
                            <i class="fa fa-plus"></i> Регистрация
                        </a>
                </li>
                </ul>
            {% endif %}
        </div>
    </nav>
</header>