{% extends 'layout.html' %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'booking/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'booking/css/orders.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'booking/js/search.js' %}"></script>
    <script src="{% static 'booking/js/orders.js' %}"></script>
    <script src="{% static 'js/metro.js' %}"></script>
{% endblock %}

{% block content %}
    {% block booking_content %}{{ block.super }}{% endblock %}
{% endblock %}