{% extends 'booking/orders_in_list_layout.html' %}

{% block order_out_list_content %}
    {% if object_list|length %}

        <form id="order-confirmation-form" action="" method="get">
        <!-- Order modal -->
        <div class="modal fade" id="order-confirmation-form-modal" tabindex="-1" role="dialog"
             aria-labelledby="order-form-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Заполните форму для подтверждения заявки
                        </h4>
                    </div>

                    <div class="modal-body main-background">
                        <div class="bg-gray color-palette alert">

                            <p>
                                После подтверждения заявки отобразятся <strong>контактные данные заказчика</strong>,
                                необходимые для связи с ним.<br>
                                Если этого не произошло обратитесь в техническую поддержку HostelHunt.<br>
                            </p>
                        </div>

                        <div class="box box-default">
                            <div class="box-body" id="order-form-modal-body">
                                <div id="div_id_first_name" class="form-group">
                                    <label for="order_confirmation_total" class="control-label  requiredField">
                                        Cумма заказа<span class="asteriskField">*</span>
                                    </label>
                                    <div class="controls ">
                                        <input class="textinput textInput form-control"
                                               id="order-confirmation-total" min="0" max="999999999999999"
                                               name="order_confirmation_total" type="number" value="0" required>
                                        <span class="help-block">
                                            Окончательная сумма заказа.
                                            Сумма не может быть больше <span id="order-confirmation-total-help">0</span> руб.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success" id="order-confirmation-form">
                            <i class="fa fa-check"></i>
                            Подтвердить заявку
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </form>

        <div class="text-right">
            <small class="text-muted">
                всего: {{ object_list|length }}
            </small>
        </div>
        <table class="table table-hover table-striped" id="out-active-orders-table">
            {% for order in object_list %}
                <tr>
                    {% include 'booking/order_info.html' with order=order incoming=True %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-info">
            <i class="fa fa-info-circle margin-right-xs"></i>
            У вас нет активных заявок.
        </div>
    {% endif %}
{% endblock %}