{% load humanize %}
<td>
    <a name="order{{ order.id }}"></a>
    <h3 class="text-info">
        {% with status_info=order.get_status_info %}
            <small class="label label-{{ status_info.class }} margin-right-sm">#{{ order.id }}</small>
            <div class="hidden-sm hidden-md hidden-lg margin-bottom-sm"></div>
            {{ order.begin }} - {{ order.end }} на {{ order.places }} чел.
            <small class="text-{{ status_info.class }}">
                <i class="{{ status_info.icon }}"></i> {{ order.get_status_display|lower }}
            </small>
        {% endwith %}
    </h3>
    <p class="text-muted font-lg">
        <small><i class="fa fa-male margin-right-sm"></i></small>
        {% if not incoming or order.accepted_room.property.created_by == request.user %}
            {{ order.get_full_name }}, {{ order.phone }}, {{ order.email }},
        {% else %}
            <span {% if order.status == 'processing' %} class="dashed-bottom" data-toggle="tooltip" data-placement="top"
                                                        title="Данные гостя появятся после подтвержедния заявки."{% endif %}>Данные гостя скрыты</span>
            ,
        {% endif %}
        {{ order.get_citizenship_display }}
    </p>
    {% if order.comment %}
        <div class="bg-gray disabled color-palette padding-all-sm margin-bottom-md">
            <small>{{ order.comment|linebreaks }}</small>
        </div>
    {% endif %}

    {% if order.status != 'process' and order.total %}
        <div class="bg-navy disabled color-palette padding-all-sm margin-bottom-md">
            <small class="margin-right-sm">Итого:</small>
            <strong class="font-lg margin-right-md">{{ order.total|intcomma }} руб.</strong>
            {% if order.is_agent_order and  order.agent_commission and order.created_by == request.user %}
                <div class="hidden-sm hidden-md hidden-lg margin-bottom-sm"></div>
                <small class="margin-right-sm">Заработок:</small>
                <strong class="font-lg">{{ order.get_agent_commission_sum|intcomma }} руб.</strong>
            {% endif %}
        </div>
    {% endif %}

    {% if order.status == 'process' %}
        <p class="text-danger">
            <i class="fa fa-clock-o"></i> Заканчивается {{ order.ends_at }}.
            {% if order.created_by == request.user and not incoming %}
                <strong><a href="{% url 'booking:order_cancel' pk=order.id %}"
                            class="modal-confirm">Отменить?</a></strong>
            {% endif %}
        </p>
    {% endif %}

    <div class="bg-gray padding-all-md color-palette">
        {% if not order.accepted_room %}
            <ul class="ul-st">
                {% for order_room in order.order_rooms.all %}
                    {% if not incoming or incoming and order_room.room.property.created_by == request.user %}
                        <li>
                            {% if incoming and order.status == 'process' %}
                                <button data-toggle="modal" data-target="#order-confirmation-form-modal"
                                        data-url="{% url 'booking:order_confirmation' pk=order.id order_room_id=order_room.id %}"
                                        class="btn btn-success btn-xs margin-right-sm order-confirmation-link"
                                        data-total="{{ order_room.total }}">
                                    <i class="fa fa-check"></i><span class="hidden-xs"> подтвердить</span>
                                </button>
                            {% endif %}
                            {{ order_room.room.property }} -
                            <small>
                                {{ order_room.room }} за {{ order_room.total|intcomma }} руб.
                            </small>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            {% with property=order.accepted_room.property room=order.accepted_room %}
                <h4>
                    «{{ property }}»
                    <small>{{ property.get_type_display }} -
                        {{ room }}
                        {{ property.phone }}
                    </small>
                </h4>
                <p>
                    {% if property.position %}
                        <a target="_blank" title="Посмотреть на карте" data-toggle="tooltip" data-placement="top"
                           href="http://maps.google.com/maps?q=loc:{{ property.position }}">
                            <i class="fa fa-map-marker margin-right-sm"></i>
                        </a>
                    {% else %}
                        <i class="fa fa-compass margin-right-sm"></i>
                    {% endif %}
                    {{ property.city }}, {{ property.address }}
                </p>
                <p>
                    <i class="fa fa-phone  margin-right-sm"></i>
                    {{ property.created_by.profile.phone }}
                </p>

            {% endwith %}
        {% endif %}
    </div>
    <div class="text-right margin-top-sm">
        <small>{{ order.created_at }}</small>
    </div>
</td>