{% extends 'booking/layout.html' %}
{% load widget_tweaks %}
{% load crispy_forms_filters %}

{% block scripts_cdn %}
    {{ form.media.js }}
{% endblock %}

{% block booking_content %}

    <div class="callout callout-warning">
        <form class="form-inline" method="post" id="search-form" data-max-rooms-in-order={{ max_rooms }}>
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'begin' %}<div class="input-daterange">{% endif %}
                {% if field.name == 'places' %}</div>{% endif %}
                {{ field|as_crispy_field }}
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                    <span class="margin-left-sm">Найти</span>
                </button>
            </div>
        </form>
    </div>

    <div class="box box-default" id="search-results">
        <div class="box-body" id="search-results-body">
            Подождите...
        </div>
        <div class="overlay" id="search-results-overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>

{% endblock %}