{% extends "admin/base_site.html" %}
{% load admin_static %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'admin/js/main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main.css' %}" />
    <link rel="icon" href="/static/img/favicon_24x24.png">
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Администрирование HostelHunt</a></h1>
{% endblock %}
