{% extends 'payments/layout.html' %}
{% load humanize %}

{% block add_funds_button %}{% endblock %}

{% block payments_content %}

    <div class="bg-gray color-palette alert">
        <p>
            Нажмите кнопку оплатить счет, для пепрехода на страницу платежной системы.
        </p>
    </div>

    <div class="box box-default" id="billing-form">
        <div class="box-body" id="billing-form-body">

            <form class="billing-form" method="post" action="https://rbkmoney.ru/acceptpurchase.aspx">
                {% for key, value in form_data.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endfor %}
                <button type="submit" class="btn btn-success margin-right-sm">
                    <i class="fa fa-check-circle-o"></i>
                    <span class="margin-left-sm">
                        Оплатить счет на {{ object.total|intcomma }} руб.
                    </span>
                </button>
                <a href="{% url 'payments:payments_list' %}" class="btn btn-default">
                    <i class="fa fa-ban"></i><span class="hidden-xs margin-left-sm">Отмена</span>
                </a>
            </form>
        </div>
    </div>

{% endblock %}