{% extends "emails/base.html" %}
{% load humanize %}

{% block content %}
    <h3>Заявка #{{ id }} отменена</h3>

    <p>
        Заявка #{{ id }} отменена гостем.<br>
        Информация: {{ room }} c {{ begin }} по {{ end }}
    </p>
    <p>
        <a href="https://my.hostelhunt.ru/{% url 'booking:orders_in_completed_list' %}#order{{ id }}" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: uppercase; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">
            Подробнее
        </a>
    </p>

    <p>
        Спасибо за использование,
        HostelHunt!
    </p>
{% endblock %}


