{% extends 'emails/base.html' %}
{% load humanize %}

{% block content %}
    <h3>Новая заявка на бронирование #{{ id }}</h3>

    <p>
        <strong>ОТЕЛЬ:</strong> {{ property }}<br>
        <strong>ДАТЫ:</strong> {{ begin }}-{{ end }}<br>
        <strong>ГОСТЕЙ:</strong> {{ places }}<br>
        <strong>ГРАЖДАНСТВО:</strong> {{ citizenship }}<br>
        <strong>КОМНАТЫ:</strong><br>
        {% for order_room in order_rooms %}
            {{ order_room.room }} за {{ order_room.total|intcomma }} руб.<br>
        {% endfor %}
        <strong>КОММЕНТАРИЙ:</strong>
        {{ comment|linebreaks }}
    </p>
    <p>
        <strong>Заявка действительна до {{ end_time }}</strong>
    </p>
    <p>
        <a href="https://my.hostelhunt.ru{% url 'booking:orders_in_active_list' %}#order{{ id }}" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold; text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: uppercase; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px;">
            Подтвердить заявку
        </a>
    </p>
    <p>
        Спасибо за использование,
        HostelHunt!
    </p>

{% endblock %}


