{% extends 'emails/base.html' %}


{% block content %}
    <p>{% load i18n %}{% blocktrans with site_name=site.name site_domain=site.domain %}Здравствуйте!</p>

        <p>Вы получили это письмо, потому что вы или кто-то еще запросил новый пароль для учетной записи пользователя на
        {{ site_domain }}.</p>
        <p>Это письмо может быть проигнорировано, если вы не запрашивали сброс пароля. Нажмите на ссылку ниже, чтобы
        сбросить пароль.<br>
    {% endblocktrans %}
    {{ password_reset_url }}</p>

    {% if username %}{% blocktrans %}<p>Если вы забыли, ваш логин {{ username }}.</p>{% endblocktrans %}

    {% endif %}{% blocktrans with site_name=site.name site_domain=site.domain %}<p>Спасибо за использование,
        {{ site_name }}!</p>
    {% endblocktrans %}
{% endblock %}
