{% extends 'users/layout.html' %}
{% load humanize %}
{% load avatar_tags %}
{% load staticfiles %}
{% load has_group %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock %}

{% block content %}

    <div class="nav-tabs-custom">
        {% block tabs %}
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if tab == 'profile' or not tab %}class="active"{% endif %}>
                    <a href="{% url 'users:profile' %}" aria-controls="home" role="tab">
                        <i class="fa fa-user"></i> Профиль
                    </a>
                </li>
                <li role="presentation" {% if tab == 'partner' %}class="active"{% endif %}>
                    <a href="{% url 'account_email' %}" aria-controls="security">
                        <i class="fa fa-rub"></i> {{ request.user|has_group:'Partner'|yesno:"Партнерство,Стань партнером" }}
                    </a>
                </li>
                <li role="presentation" {% if tab == 'emails' %}class="active"{% endif %}>
                    <a href="{% url 'account_email' %}" aria-controls="security">
                        <i class="fa fa-envelope"></i> E-mail
                    </a>
                </li>
                <li role="presentation" {% if tab == 'socialaccount' %}class="active"{% endif %}>
                    <a href="{% url 'socialaccount_connections' %}" aria-controls="security">
                        <i class="fa fa-users"></i> Социальные аккаунты
                    </a>
                </li>
                <li role="presentation" {% if tab == 'security' %}class="active"{% endif %}>
                    <a href="{% url 'password_change' %}" aria-controls="security">
                        <i class="fa fa-lock"></i> Безопасность
                    </a>
                </li>
                <li role="presentation" {% if tab == 'avatars' %}class="active"{% endif %}>
                    <a href="{% url 'avatar_change' %}" aria-controls="avatars">
                        <i class="fa fa-camera"></i> Аватар
                    </a>
                </li>
            </ul>
        {% endblock %}

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active margin-top-md-lg">
                    <div class="col-sm-3" id="profile-avatar-col">
                        <a href="{% url 'avatar_change' %}" data-toggle="tooltip" title="Управление аватарами"
                           data-placement="bottom">
                            <img src="{% avatar_url user 250 %}" class="img-responsive img-rounded hidden-xs">
                        </a>
                    </div>
                    <div class="col-sm-9">
                        {% block profile_content %}{% endblock %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}

