{% extends 'users/profile_layout.html' %}
{% load humanize %}

{% block profile_content %}

    <table class="table table-striped table-hover">
        <tbody>
        <tr>
            <th class="td-sm-md"><strong>Логин:</strong></th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th class="td-sm-md"><strong>Фамилия:</strong></th>
            <td>{{ user.last_name|default:'none' }}</td>
        </tr>
        <tr>
            <th class="td-sm-md"><strong>Имя:</strong></th>
            <td>{{ user.first_name|default:'none' }}</td>
        </tr>
        <tr>
            <th class="td-sm-md"><strong>E-mail:</strong></th>
            <td>{{ user.email|default:'none' }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'users:profile_edit' %}" class="btn btn-success">
        <i class="fa fa fa-pencil-square-o margin-right-sm"></i>Редактировать
    </a>
{% endblock %}

