{% extends 'hotels/layout.html' %}
{% load staticfiles %}
{% block hotel_content %}
    <table class="table table-hover table-striped" id="property-table">
        {% for property in object_list %}
            <tr>
                <td width="120" class="hidden-xs">
                    <a href="#">
                        <img src="{% static property.get_main_photo_thumbnail %}" class="img-rounded"
                             data-toggle="tooltip"
                             data-placement="top" title="Перейти к фотогалерее отеля">
                    </a>
                </td>
                <td>
                    <a href="{% url 'hotel:property_change' property.id %}" class="btn btn-success btn-sm pull-right action" data-toggle="tooltip"
                       data-placement="left"
                       title="Перейти к редактированию отеля">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <h3>
                        <a href="{% url 'hotel:property_change' property.id %}" data-toggle="tooltip" data-placement="top" title="Перейти к редактированию отеля">
                            {{ property }}
                        </a>
                    </h3>
                    <p class="text-muted font-lg">
                        {% if property.position %}
                            <a target="_blank" title="Посмотреть на карте" data-toggle="tooltip" data-placement="top"
                               href="http://maps.google.com/maps?q=loc:{{ property.position }}">
                                <i class="fa fa-map-marker margin-right-xs"></i>
                            </a>
                        {% else %}
                            <i class="fa fa-compass margin-right-sm"></i>
                        {% endif %}


                        {{ property.city }}, {{ property.address }}. {{ property.get_metro_stations_as_string }}
                    </p>
                    <small class="text-muted">{{ property.description|truncatechars:800|linebreaks }}</small>

                    {% if not property.room_set.count %}
                        <p class="text-danger">
                            <strong>
                                <i class="fa fa-exclamation-circle"></i>
                                Не заполнены цены и номера у отеля.
                                Перейти к <a href="{% url 'hotel:property_room_list' property.id %}">управлению ценами?</a>
                            </strong>
                        </p>
                    {% endif %}
                    {% if not property.is_enabled %}
                        <p class="text-danger">
                            <strong>
                                <i class="fa fa-exclamation-circle"></i>
                                Отель выключен.
                                Перейти к <a href="{% url 'hotel:property_change' property.id %}">управлению отелем?</a>
                            </strong>
                        </p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    <p class="text-center margin-top-md-lg">
        <a href="{% url 'hotel:property_create' %}" class="btn btn-primary">
            <i class="fa fa-plus"></i> Добавить новый отель
        </a>
    </p>


{% endblock %}