{% extends 'hotels/property_tabs.html' %}
{% load staticfiles %}
{% load main %}
{% load i18n %}
{% load humanize %}
{% block tabs %}
    {% with 'prices' as tab %}{{ block.super }}{% endwith %}
{% endblock tabs %}

{% block hotel_content %}
    {% if rooms|length %}
        <table class="table table-hover table-striped" id="property-table">
            {% for room in rooms %}
                <tr>
                    <td>
                        <a href="{% url 'hotel:property_room_change' room.id %}"
                           class="btn btn-success btn-sm pull-right action" data-toggle="tooltip"
                           data-placement="left"
                           title="Перейти к редактированию цены">
                            <i class="fa fa-pencil"></i>
                        </a>

                        <h3>
                            <a href="{% url 'hotel:property_room_change' room.id %}" data-toggle="tooltip"
                               data-placement="top" title="Перейти к редактированию цены">
                                {{ room }}
                                -
                                <small class="margin-left-sm text-success">{{ room.price|intcomma }}
                                    р. {{ room.get_calculation_type_display|lower }}</small>
                            </a>
                        </h3>
                        <p class="text-muted font-lg">
                            <small><i class="fa fa-male margin-right-sm"></i></small>
                            {{ room.get_gender_display }} на {{ room.places }} мест{{ room.places|ru_pluralize:'о,а,' }}
                        </p>
                        <small class="text-muted">
                            {{ room.description|truncatechars:800|linebreaks }}
                        </small>

                        {% if not room.is_enabled %}
                            <p class="text-danger">
                                <strong>
                                    <i class="fa fa-exclamation-circle"></i>
                                    Цена выключена.
                                    Перейти к <a href="{% url 'hotel:property_room_change' room.id %}">редактированию
                                    цены?</a>
                                </strong>
                            </p>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>

        <p class="text-center margin-top-md-lg">
            <a href="{% url 'hotel:property_room_create' property.id %}" class="btn btn-primary">
                <i class="fa fa-plus"></i> Добавить новую цену
            </a>
        </p>
    {% else %}
        <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle margin-right-xs"></i>
            Не заполнена ни одна цена у отеля. <a href="{% url 'hotel:property_room_create' property.id %}">Добавить первую?</a>
        </div>
    {% endif %}
    {% with tariff=property.get_tariff %}
        {% if tariff %}
            <div class="alert  bg-gray disabled color-palette" id="commission-list">
                <p><i class="fa fa-info-circle margin-right-xs"></i> Комисссия HostelHunt:</p>
                <small>
                    <ul>
                        {% for price in tariff.tariffelement_set.all %}
                            <li>Сумма от {{ price.start_sum }} р. до {{ price.end_sum }} р. - {{ price.commission }}%
                            </li>
                        {% endfor %}
                        <li>Минимальная комисссия - {{ tariff.minimal_commission }} p.</li>
                    </ul>
                </small>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}