#search-form select#id_city {
    width: 160px;
}
#search-form select#id_metro_stations {
    width: 220px;
}
#search-form select#id_gender {
    width: 120px;
}
#search-form input#id_begin,
#search-form input#id_end {
    width: 100px;
}
#search-form input#id_places{
    width: 60px;
}
div.callout button {
    margin: 26px 0px 6px 0px;
}
div.callout .asteriskField  {
    display: none;
}
.search-results-row {
    border-bottom: 1px solid #d2d6de;
    padding: 20px 0px 20px 0px;
}
.search-results-row:nth-child(odd) {
    /*background: #f9f9f9;*/
}
.search-results-row:last-child {
    border-bottom: 0px;
}
.search-results-row-photo {
    min-width: 140px;
}
.search-results-row-photo img {
    margin-bottom: 3px;
}
.search-results-row-property h4, .search-results-row-property h3 {
    margin-top: 0px;
    padding-top: 0px;
}
.search-result-rooms th.price {
   width: 150px;
}
.search-results-more-photos {
    max-width: 140px;
}
#search-results-form-submit {
    z-index: 999;
}
.affix {
    position: fixed;
    top: 10px;
    right: 30px;
}


