{% extends 'meta.html' %}
{% load sitetree %}

{% block body %}
    {% with 'skin-red sidebar-mini' as body_classes %}{{ block.super }}{% endwith %}
{% endblock body %}

{% block body_content %}
    <div class="wrapper" id="hh-main-container">

        {% block header %}
            {% include "partials/header.html" %}
        {% endblock %}

        {% block sidebar %}
            {% include "partials/sidebar.html" %}
        {% endblock %}

        <!-- Content Wrapper. -->
        <div class="content-wrapper">
            <!-- Content Header -->

            {% block content_header %}
            <section class="content-header">
                {% block tilte %}
                <h1>
                    {% sitetree_page_title from "navbar" %}
                    <small>{% block small_tilte %}{% endblock %}</small>
                </h1>
                {% endblock %}

                {% block breadcrumb %}
                    {% sitetree_breadcrumbs from 'navbar' template "sitetree/breadcrumbs_bootstrap3.html" %}
                {% endblock %}

            </section>
            {% endblock %}

            <!-- Main content -->
            <section class="content">

                <!-- Notifications -->
                {% block notifications %}
                    {% include "partials/notifications.html" %}
                {% endblock %}

                <!-- Messages -->
                {% block messages %}
                    {% include "partials/messages.html" %}
                {% endblock %}

                {% block content %}{% endblock %}
            </section>
        </div>

        {% block footer %}
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                &nbsp;
            </div>
            {% block footer_content %}
                <strong>Copyright &copy; 2015-{% now "Y" %} <a href="{% url 'index' %}">HostelHunt</a>.</strong>
                Все права защищены.
            {% endblock %}
        </footer>
        {% endblock %}

    </div>

{% endblock %}
