{% load i18n %}
{% get_current_language as language %}
{% load staticfiles %}
{% load sitetree %}
{% load compress %}

{% spaceless %}
    <!DOCTYPE html>
    <html lang="{{ language }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}HostelHunt{% endblock %}">
        <meta name="keywords" content="{% block keywords %}HostelHunt{% endblock %}">
        <meta name="author" content="webmalc@gmail.com">
        <meta name="verify-reformal" content="aea5525e5aa202e1efd5895c"/>
        <link rel="icon" href="{% static '/static/img/logo-png-white.png' %}">
        <title>{% block title %}{% sitetree_page_title from "navbar" %} | {% endblock %}HostelHunt</title>

        {% compress css %}
            {% block css %}
                <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
                <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
                <link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
                <link rel="stylesheet"
                      href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
                <link rel="stylesheet" href="{% static 'AdminLTE/plugins/select2/select2.min.css' %}">
                <link rel="stylesheet" href="{% static 'AdminLTE/plugins/iCheck/square/blue.css' %}">
                <link rel="stylesheet" href="{% static 'AdminLTE/dist/css/AdminLTE.min.css' %}">
                <link rel="stylesheet" href="{% static 'AdminLTE/dist/css/skins/skin-red.min.css' %}">
                <link rel="stylesheet" href="{% static 'fancybox/source/jquery.fancybox.css' %}">
                <link rel="stylesheet"
                      href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}">
                <link rel="stylesheet" href="{% static 'css/app.css' %}">
            {% endblock %}
        {% endcompress %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    {% block body %}
        <body class="hold-transition {{ body_classes }}">

        <script type="text/javascript">
            if (localStorage.getItem('sidebar-collapse')) {
                document.getElementsByTagName('body')[0].className += ' sidebar-collapse'
            }
        </script>

        {% block body_content %}{% endblock %}

        {% compress js %}
            {% block scripts %}
                <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
                <script src="{% static 'moment/moment.js' %}"></script>
                <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
                <script src="{% static 'AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
                <script src="{% static 'AdminLTE/plugins/fastclick/fastclick.min.js' %}"></script>
                <script src="{% static 'AdminLTE/dist/js/app.min.js' %}"></script>
                <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
                <script src="{% static 'AdminLTE/plugins/select2/select2.full.min.js' %}"></script>
                <script src="{% static 'AdminLTE/plugins/select2/i18n/ru.js' %}"></script>
                <script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>
                <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
                <script src="{% static 'fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
                <script src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}"></script>
                <script src="{% static 'bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
                <script src="{% static 'bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js' %}"></script>
                <script src="{% static 'Readmore.js/readmore.min.js' %}"></script>
                <script src="{% static 'jquery.notification/jquery.notification.js' %}"></script>
                <script src="{% static 'teamdf/jquery-number/jquery.number.min.js' %}"></script>
                <script src="{% static 'jquery.countdown/dist/jquery.countdown.min.js' %}"></script>
                <script src="{% static 'js/app.js' %}"></script>
                <script src="{% static 'js/messenger.js' %}"></script>

                <!--Start of Tawk.to Script-->
                <script type="text/javascript">
                    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                    (function () {
                        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                        s1.async = true;
                        s1.src = 'https://embed.tawk.to/56d8285f1c8d37ab30315b85/default';
                        s1.charset = 'UTF-8';
                        s1.setAttribute('crossorigin', '*');
                        s0.parentNode.insertBefore(s1, s0);
                    })();
                </script>
                <!--End of Tawk.to Script-->

                <!-- Start Reformal.ru -->
                <script type="text/javascript">
                    var reformalOptions = {
                        project_id: 972792,
                        project_host: "hostelhunt.reformal.ru",
                        tab_orientation: "bottom-right",
                        tab_indent: "40px",
                        tab_bg_color: "#f39d12",
                        tab_border_color: "#FFFFFF",
                        tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ys=/FFFFFF/bd7c81ffde6d855f5262adeb7b6ef6f8/bottom-left/1/tab.png",
                        tab_border_width: 1
                    };

                    (function () {
                        var script = document.createElement('script');
                        script.type = 'text/javascript';
                        script.async = true;
                        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
                        document.getElementsByTagName('head')[0].appendChild(script);
                    })();
                </script>
                <noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png"/></a><a
                        href="http://hostelhunt.reformal.ru">Oтзывы</a></noscript>
                <!-- End Reformal.ru -->

            {% endblock %}
        {% endcompress %}
        {% block scripts_cdn %}{% endblock %}
        </body>
    {% endblock %}
    </html>
{% endspaceless %}
